{% load static %}
<footer class="docs-footer">
  <div class="container-md px-3 px-sm-4 px-xl-5 py-3">
    <div class="row g-4">
      <div class="col-xl-3 col-sm-6">
        <div class="navbar py-0">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <img src={% static "img/logo.svg" %} alt="Logo" width="50"
            height="50" class="d-block flex-shrink-0 me-1" />Redes Sociales
          </a>
        </div>

        <a href="/sitemap.xml" class="simple-link d-block mt-1">
          <img src={% static "img/iconoFacebook.svg" %} alt="LogoFacebook" width="50"
            height="50" 
          </a> Facebook</a>
          <a href="/sitemap.xml" class="simple-link d-block mt-1">
            <img src={% static "img/iconoInstagram.svg" %} alt="LogoFacebook" width="50"
              height="50" 
            </a> Instagram</a>
        
        
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="d-flex align-items-center" style="height: 40px">
          <h4 style="font-size: var(--bs-font-size-lg)" class="fw-medium m-0">
            Contactanos
          </h4>
        </div>
        <a href="/team/" class="simple-link d-block mt-1">Equipo</a>
        <a
          href="mailto:contacto@ygconsultores.mx"
          class="simple-link d-block mt-1"
          target="_blank"
          rel="noreferrer"
          >Contactanos</a
        >
        <a
          href="https://github.com/biggbackagain"
          class="simple-link d-block mt-1"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fa-brands fa-github me-1"></i> Reportar un problema
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=61555689502433"
          class="simple-link d-block mt-1"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fa-brands fa-twitter me-1"></i> Siguenos en Facebook
        </a>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="d-flex align-items-center" style="height: 40px">
          <h4 style="font-size: var(--bs-font-size-lg)" class="fw-medium m-0">
            Legal
          </h4>
        </div>
        <a href="/privacy-policy/" class="simple-link d-block mt-1"
          >Politica de privacidad</a
        >
        <a href="/cookies/" class="simple-link d-block mt-1">Cookies</a>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="d-flex align-items-center" style="height: 40px">
          <h4 style="font-size: var(--bs-font-size-lg)" class="fw-medium m-0">
            BECAM AI <i class="fa-solid fa-heart text-danger"></i>
          </h4>
        </div>

        <p
          class="text-body-secondary subpixel-antialiased mb-0"
          style="font-size: var(--bs-font-size-sm)"
        >
          &copy; Copyright 2024, BECAM AI Team
        </p>
      </div>
    </div>
    <div
      class="text-center mt-4 pt-3 text-body-secondary border-top subpixel-antialiased"
      style="font-size: var(--bs-font-size-sm)"
    >
      Creditos del CSS
      <a
        href="https://getbootstrap.com/docs/5.3/about/team/"
        target="_blank"
        rel="noreferrer"
        >Equipo de BootStrap</a
      >
      (Abrir en nueva ventana) Para ver el codigo y documentación. Documentos
      licenciados
      <a
        href="https://creativecommons.org/licenses/by/3.0/"
        target="_blank"
        rel="noreferrer"
        >CC BY 3.0</a
      >
    </div>
  </div>
</footer>
