{% load static %}
<nav
  class="navbar navbar-expand-lg"
  style="
    background-color: var(--bs-content-bg);
    border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);
  "
>
  <div class="container-fluid justify-content-left">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapse-1"
      aria-controls="navbar-collapse-1"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <a class="navbar-brand" href="#">
        <img src="{% static "img/logo.svg" %}" alt="Logo" width="100"
        height="80" class="d-inline-block align-content-center" />
      </a>
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-center"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="Page" href="#"
            ><strong>Inicio</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="Portafolio" href="#"
            ><strong>Portafolio</strong></a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <strong> Servicios</strong>
          </a>
          <ul class="nav nav-pills justify-content-center"></ul>
          <ul class="dropdown-menu mt-lg-2 rounded-top-0">
            <li>
              <hr class="dropdown-divider" />
              <strong><ins>Servicios Web</ins></strong>
            </li>
            <li>
              <a class="dropdown-item" href="#"><strong>Paginas Web</strong></a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><strong>Desarrollo de aplicaciones Web</strong></a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
              <strong><ins>Digitalizacion de Negocios</ins></strong>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><strong>Marketing Digital</strong></a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><strong>Puntos de venta</strong></a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><strong>Camaras de Seguridad</strong></a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><strong
                  >Administracion de Red Domesticas y Empresariales
                </strong></a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="Page" href="#"
            ><button type="button" class="btn btn-primary d-block w-60">
              Agendar Tu Cita
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
